[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
opencv-python = "==4.0.0.21"
opencv-contrib-python = "==4.0.0.21"

[requires]
python_version = "3.7"
