body {
	background-color: #32cd32;
	

}

h2 {

	font-family: serif;
	font-weight: bold;
	font-size: 40px;
 	text-shadow: 2px 2px #DBE9EE;
	letter-spacing: 3px;
	bottom: 40%; 
	padding: 0px 10px 0px;



}
.banner {
	width:98%;
	padding: 1px 2px 1px;
	font-size: 28px;
	font-family: rockwell;
	text-shadow: 3px 3px #DBE9EE;
	letter-spacing: 3px;
	background-color: #1e900f;
	text-align: center;
	border: 8px solid #000;
}

.button button {
	padding: 10px 40px 5px;
	font-size: 20px;
	margin: 0px 80px;
}
	

form {

	font-family: serif;
	font-weight: bold;
	font-size: 30px;
 	text-shadow: 2px 2px #DBE9EE;
	letter-spacing: 3px;
	padding: 0px 15px 10px;
}



.ajing {
	padding: 5px 80px 5px;
}

@media only screen and (max-width: 710px) {
		h2 {

	font-family: serif;
	font-weight: bold;
	font-size: 30px;
 	text-shadow: 2px 2px #DBE9EE;
	letter-spacing: 3px;
	bottom: 40%; 
	padding: 10px 10px 0px;


	}
	.banner {
	width:98%;
	padding: 1px 2px 1px;
	font-size: 15px;
	font-family: rockwell;
	text-shadow: 3px 3px #DBE9EE;
	letter-spacing: 3px;
	background-color: #1e900f;
	text-align: center;
	border: 8px solid #000;
	}

	.button button {
	padding: 10px 40px 5px;
	font-size: 20px;
	margin-top: 30px;
	}
	

	form {

	font-family: serif;
	font-weight: bold;
	font-size: 30px;
 	text-shadow: 2px 2px #DBE9EE;
	letter-spacing: 3px;
	padding: 20px 15px 10px;
	}

	

}