h1 { 
	font-family: rockwell;
	color: #000;
	font-weight: bold;
	font-size: 45px;
	text-align: top;
	position: fixed;
	border: 8px solid #000;
	height:50px;
	width: 580px;
	background-color: 	#7cfc00;
	letter-spacing: 18px;
	text-align: center;
	padding: 20px 30px 40px;
	margin: 40px 50px 10px;
	float: left;
}

.name{ 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 70px;
	text-align: left;
	position: fixed;
	bottom: 50px;
	top: 180px;
    text-shadow: 2px 2px #FFFFFF;

}
.address { 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 70px;
	text-align: left;
	position: fixed;
	bottom: 50px;
	top: 260px;
    text-shadow: 2px 2px #FFFFFF;

}

.birthday{
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 70px;
	text-align: left;
	position: fixed;
	bottom: 50px;
	top: 340px;
    text-shadow: 2px 2px #FFFFFF;
}

.gender {
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 70px;
	text-align: left;
	position: fixed;
	bottom: 50px;
	top: 420px;
    text-shadow: 2px 2px #FFFFFF;
}

h3 {

	margin: 30px auto;
    padding: 8px;
    text-align: left;
    border: 2px solid #000;
    background-color: #7cfc00;
    width: 610px;
    height: 50px;
  }

table  {
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 25px;
	margin: 0px 800px 0px;
}
body {
	background-color:#32cd32;
	height: 100%;
	background-size: 10000000px 700px;
	background-position: all;

}

a {
	font-size: 45px;
	color: #000;
	position: fixed;
	border: 5px solid #000;
	top: 550px;
	bottom: 100px;
	height:60px;
	padding:0px;
	width:120px;
	background-color: #7cfc00;
	text-shadow: 2px 2px white;
	text-align: center;

} 

@media only screen and (max-width: 710px) {
	h1 { 
	font-family: rockwell;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	text-align: top;
	position: absolute;
	border: 8px solid #000;
	height:50px;
	width: 580px;
	background-color: 	#7cfc00;
	letter-spacing: 18px;
	text-align: center;
	padding: 20px 30px 40px;
	margin: 40px 50px 10px;
	float: left;
}

.name{ 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 25px;
	left: 70px;
	text-align: left;
	position: absolute;
	bottom: 50px;
	top: 180px;
    text-shadow: 2px 2px #FFFFFF;

}
.address { 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 25px;
	left: 70px;
	text-align: left;
	position: absolute;
	bottom: 50px;
	top: 260px;
    text-shadow: 2px 2px #FFFFFF;

}

.birthday{
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 25px;
	left: 70px;
	text-align: left;
	position: absolute;
	bottom: 50px;
	top: 340px;
    text-shadow: 2px 2px #FFFFFF;
}

.gender {
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 25px;
	left: 70px;
	text-align: left;
	position: absolute;
	bottom: 50px;
	top: 420px;
    text-shadow: 2px 2px #FFFFFF;
}

h3 {

	margin: 30px auto;
    padding: 8px;
    text-align: left;
    border: 2px solid #000;
    background-color: #7cfc00;
    width: 610px;
    height: 50px;
  }

table  {
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 22px;
	margin: 0px 800px 0px;
}

a {
	font-size: 30px;
	color: #000;
	position: absolute;
	border: 5px solid #000;
	top: 550px;
	bottom: 100px;
	height:60px;
	padding:0px;
	width:120px;
	background-color: #7cfc00;
	text-shadow: 2px 2px white;
	text-align: center;

} 



}

