body{
	background: linear-gradient(to bottom, # 1%, # 100%;
	position: relative;
	height: 100%;
	width: 100%;
	background-size: 1200px;
}

.logo{
	background-image: url("http://clipart-library.com/images/6Tr5oBLac.png");
	height: 200px;
	width: 200px;
}
.description{
	position: relative;
	left:600px;
	bottom: 400px;
}
h1{
	font-family: monospace;
	font-size: 50px;
}

p{
	font-family: Arial;
	font-size: 30px;
}

.scan{
	text-align: center;
	position: relative;
	bottom: 270px;
	left:550px;
}
.card{
	height:200px;
	width: 50px;
	position: relative;
	bottom: 270px;
	left: 775px;
}