

body {
	background-color: #7cfc00;

} 


.booth {
	width: 400px;
	background: #ccc;
}



img {

	padding: 0px 80px 0px;
}

button {
	font-size: 30px;
	margin: 0px 400px 0px 200px;
}

input {
	font-size: 30px;
	margin: 0px 700px 0px 400px;

}

table {

	font-family: monospace;
	font-weight: bold;
	font-size: 30px;
	margin: 10px 400px 0px 200px;

}


@media only screen and (max-width: 710px) {

	.booth {
	width: 400px;
	background: #ccc;
}



	img {

	padding: 0px 80px 0px;
}

	button {
	font-size: 20px;
	padding: 0px 10px 0px;
	margin: 0px 80px 0px;
}

	input {
	font-size: 20px;
	padding: 0px 30px 0px;
	margin: 0px 80px 0px;

}

	table {

	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
	padding: 10px 10px 0px;
	margin: 10px 80px 0px;

}
	
}
