h1 { 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 45px;
	text-align: left;
	position: relative;
	bottom: 330px;
	border: 5px solid #000;
	height:40px;
	padding:10px;
	width:130px;
	background-color: 	#00ffff;
}

h3{ 
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 40px;
	text-align: left;
	position: relative;
	bottom: 340px;


}

.list  {
	font-family: century gothic;
	color: #000;
	font-weight: bold;
	font-size: 50px;
	position: relative;
	left:800px;
	bottom: 300px;
}
body {
	background-image: url("https://cdn.pixabay.com/photo/2017/11/06/05/22/design-2922794_960_720.jpg");
}

a {
	font-size: 70px;
	color: #b22222;
	position: relative;
	left: 1000px;
	border: 5px solid #b22222;
	bottom: 500px;
	height:70px;
	padding:10px;
	width:20px;
	background-color: #f0ffff;

}