
body {
	background-image: linear-gradient( #87ceeb , #191970);
	height: 100%;
	background-size: 1380px 720px;
	background-repeat: no-repeat;
}

h1 {
	font-family: rockwell;
	color: #000;
	font-weight: bold;
	font-size: 30px;
	left: 40%;
	position: fixed;
	bottom: 610px;
	border: 8px solid #000;
	height: 26px;
	padding:15px;
	width: 230px;
	background-color: 	#ffd700;
	letter-spacing: 19px;
	text-align: center;
}
.stick-O{

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 35%;
	left: 4%;
	text-shadow: 2px 2px yellow;

}

.StickO {

	right: 79%;
	top: 8%;
    position: absolute;
}

.ballpen {

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 35%;
	left: 20%;
	text-shadow: 2px 2px yellow;

}

.Ballpen {
	right: 62%;
	top: 11%;
    position: absolute;

}

.floorwax {


	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 35%;
	left: 38%;
	text-shadow: 2px 2px yellow;

}

.Floorwax {

	right: 42%;
	top: 13%;
    position: absolute;
}

.dustpan {


	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 35%;
	left: 60%;
	text-shadow: 2px 2px yellow;


}

.Dustpan {

	right: 22%;
	top: 4%;
    position: absolute;
}
.broom {

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 35%;
	left: 80%;
	text-shadow: 2px 2px yellow;


}

.Broom {

	right: 3%;
	top: 6%;
    position: absolute;
}

.speaker {
	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 78%;
	left: 4%;
	text-shadow: 2px 2px yellow;

}

.Speaker {

	right: 80%;
	top: 55%;
    position: absolute;
}

.electricFan {
	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 78%;
	left: 20%;
	text-shadow: 2px 2px yellow;

}

.ElectricFan {
	right: 64%;
	top: 53%;
    position: absolute;

}

.projector {

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 78%;
	left: 38%;
	text-shadow: 2px 2px yellow;
}

.Projector {

	right: 43%;
	top: 55%;
    position: absolute;

}

.computerSet {

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 78%;
	left: 60%;
	text-shadow: 2px 2px yellow;
}

.ComputerSet {

	right: 21%;
	top: 55%;
    position: absolute;

}

.mysterybox {

	font-family: serif;
	font-weight: bold;
	font-size: 25px;
	position: absolute;
	color: #000;
	top: 78%;
	left: 80%;
	text-shadow: 2px 2px yellow;

}

.Mysterybox {

	right: 2%;
	top: 55%;
    position: absolute;
}

h3 {

	margin: 30px auto;
    padding: 6px;
    text-align: left;
    border: 3px solid #000;
    background-color: #ffa500;
    width: 610px;
    height: 65px;
    position: fixed;
}

a {
	font-family: rockwell;
	color: #000;
	font-weight: bold;
	font-size: 20px;
	right: 94%;
	position: fixed;
	bottom: 270px;
	border: 5px solid #000;
	height: 30px;
	padding:5px;
	width: 120px;
	background-color: 	orangered;
	text-align: center;
	transform: rotate(90deg)

}

@media only screen and (max-width: 710px) {
	



	}
