body{
	background-image: url("https://as1.ftcdn.net/jpg/01/77/39/90/500_F_177399067_uMk7lBeKcDPQY5eadwPPcy1vGaB16sTq.jpg");
}
h1 {
	font-size: 100px;
	font-family: georgia;
	text-align: center;
	color: #FF1493;
	background: #98FB98;
}
h3{
	font-size: 50px;
	font-family: arial;
	text-align: center;
	color: #FF1493;
	background: #98FB98;
}

a{
	font-size: 50px;
	font-family: monospace;
	background: #98FB98;
	background-size: 50px;
	color:red;
	font-weight: bold;
	position: relative;
	left: 1000px;
}