<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/templates/css/page1.css"/>
</head>

<body>
	<section id="overlay">
		<form action="http://127.0.0.1:5000/get_user" method="post">
			
			<label for="user_id">User_Id:</label>
			<input type="text" name="user_id" id="user_id" />
			<input type="submit" value="Check user" />
		</form>

	</section>
	<div class="logo">
	</div>

	<div class="description">
		<h1> RFID-Based Plastic Bottle Collector through Image Processing </h1>
	</div>
	<div class="scan">
		<h2>Scan your card here!</h2>
	</div>

	<div class="card">
		
	</div>


</body> 
</html>