<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="../templates/css/page2.css"/>
	
</head>
<body>
	<div class="PROFILE">
		<h1> PROFILE </h1>
	</div>
	<div class="name">
		<h3>  Name:{{name}}  </h3>
	</div>
	<div class="address">
		<h3> Address: {{address}}</h3> 
	</div>
	<div class="birthday">
		<h3>Birthday: {{birthday}} </h3>
	</div>
	<div class="gender">
		<h3> Gender: {{gender}} </h3>
	</div>
	


	<div class="card">
		
	</div>
		<table>
			<thead>
				<tr> 
					<td>Date</td>
					<td> <br> Bottle </br> Type</td>
					<td>Location</td>
					<td>Points</td>
				</tr>
			</thead>
			<tbody>
			{% for tr in _tr: %}
				<tr>
					<td>{{tr.date}}</td>
					<td> {{tr.bottle_name}}</td>
					<td> {{tr.location_id}} </td>
					<td> {{tr.points}} </td>
				</tr>
		   	{% endfor %}
		   	<tr>
		   		<td colspan="3">Total</td>
		   		<td>{{total_points}}</td>
		   	</tr>
		   </tbody>
	   	</table>
		
	</div>

	<a href="./page4">Next</a>


	</body>
</html>