<!DOCTYPE html>
<html>
<head>


	<link rel="stylesheet" type="text/css" href="page1.css">	
</head>
<body>

	<section id="overlay">
		<form action="http://127.0.0.1:5000/get_user" method="post">
			<h1>LOGIN</h1>
			<label for="user_id">User_Id:</label>
			<input type="text" name="user_id" id="user_id" />
			<input type="submit" value="Check user" />
		</form>
	</section>

	<div class="logo">
	</div>

	<div class="description">
		<h1> RFID-Based Plastic Bottle<br>Collector through Image Processing </h1>
		<p> This device collects plastic bottles! <br> And...Guess what? We'll give you REWARDS if you throw an adequate amount of plastic bottles! </p>
	</div>

	<div class="scan">
		<h1>Scan your card here!</h1>
	</div>

	<div class="card">
		<img src="https://ui-ex.com/images/arrows-transparent-animated-gif-1.gif">
	</div>

</body>
</html>